@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Do you have questions about application?</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:adam@gromowski.com">adam@gromowski.com</a><br />
</address>