@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guest List Manager</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Guest List Manager</h2>
        <p>
            Guest List Manager is a sample application with help you to organise the guest list for a large party!
        </p>
        <p>@Html.ActionLink("Try now!", "Index", "GuestLists", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>